<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px rgb(51, 51, 87);
        }
        h2 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px rgb(51, 51, 87);
        }
        .cont {
            position: relative;
            left: 600px;
            top: 50px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
        .back-button{
            padding-right: 7.5px;
        }
        .container1 {
            display: inline-block;
            margin: 30px;
            width: 225px;
            height: 300px;
            text-align: center;
            color: white;
        }
        #label1 {
            position: relative;
            right: -55px;
        }
        .error-message {
            display: none;
            padding: 15px;
            margin: 10px 0;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            color: white;
            background-color: red;
            position: fixed;
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
            width: auto;
            max-width: 600px;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a href="http://localhost:3000/home" class="back-button" style="color: rgba(191, 255, 161, 0.148)">Back</a>
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <h1 class="text-center">Search Results</h1>
    <% if (locations && locations.length > 0) { %>
        <div class="d-flex justify-content-center flex-wrap">
            <% for (let i = 0; i < locations.length; i++) { %>
                <div class="container1">
                    <img id="image" src=<%=locations[i].id + ".png"%> width="193" height="300">
                    <br>
                    <label id ="label2" class="ml-4 my-2"><%=locations[i].label%></label>
                    <br>
                    <button onclick="location.href = '<%= '/' + locations[i].id %>';" id="<%= locations[i].id %>" class="btn btn-secondary ml-3">View</button>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h2 class="text-center">No results.</h2>
    <% } %>

    <!-- Display error message if exists -->
    <% if (errorMessage) { %>
        <div class="error-message" id="error-message"><%= errorMessage %></div>
        <script>
            const errorDiv = document.getElementById("error-message");
            errorDiv.style.display = "block";
            setTimeout(function() {
                errorDiv.style.display = "none";
                errorDiv.textContent = "";
            }, 2500);
        </script>
    <% } %>
</body>
</html>